<h3>Editing Peripheral</h3>

<%= render 'form' %>

<%= link_to 'Show', @peripheral, :class =>"btn btn-large btn-default" %> |
<%= link_to 'Back', peripherals_path, :class =>"btn btn-large btn-default" %>
