<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <a class="navbar-brand" >AccessoriesManagement</a>
    <%= link_to('Logout', destroy_user_session_path,:method => :delete,:class =>"btn btn-large btn-default logout") %>
  </div>  
</nav>
